<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="/static/common.css">
</head>
<body>
    <nav>
        <div id="hmbgr">
            <hr/>
            <hr/>
            <hr/>
        </div>
        <H1>Naam</H1>
        <div id="logout">
            L
        </div>
    </nav>
    <main>
        <form id="upload_form" action="post">

        </form>
    </main>
</body>
</html>